*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.LandingScreen h1{
    font-size: 75px;
    color: black;
    font-weight: bold;
}
.LandingScreen p {
    font-size: 22px;
}
.LandingScreen button{
    background: linear-gradient(135deg , orange,rgb(255, 187, 0));
    color: rgb(54, 53, 53);
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}
.LandingScreen button:hover{
    color: black;
    font-size: 22px;
      background: linear-gradient(135deg , rgb(253, 89, 25),rgb(255, 187, 0));
}